body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.recap-title {
    margin-bottom: 20px;
}

.nfl-comparison{
    padding-top: 10px;
    padding-bottom: 20px;
}

.nfl-comparison p.description {
    padding-top: 15px;
}

.nfl-comparison img {
    max-width: 400px;
    max-height: 400px;
}